<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout2</title>
    <link rel="stylesheet" href="../css/layout2.css"/>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="logo"></div>
            <div class="nav"></div>
        </header>
        <main id="main">
            <div class="content01"></div>
            <div class="content_box">
                <div class="content02"></div>
                <div class="content03"></div>
            </div>
        </main>
        <footer id="footer"></footer>
    </div>
</body>
</html>