<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/layout5.css" />
    <title>layout5</title>
</head>
<body>
    <div id="wrap">
        <header id="header">
            <div class="logo"></div>
            <div class="nav"></div>
        </header>
        <main id="main">
            <article class="top">
                <div class="top_left">
                    <div class="top_img01"></div>
                    <div class="top_img02"></div>
                </div>
                <div class="top_right">
                    <div class="top_img03"></div>
                </div>
            </article>
            <article class="bottom">
                <div class="bottom_left">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="bottom_right"></div>
            </article>
        </main>
        <footer id="footer"></footer>
    </div>
</body>
</html>