.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  // Full screen height
   
}
  
.loading-logo {
    width: 150px;  // Adjust the size of the logo
    height: auto;
}
  
