/* Main.scss */

.main-container {
    font-family: 'Pretendard';
}

/* 공지사항 섹션 스타일 */
.notice-section {
    padding: 15px;
    max-width: 95%; 
    margin: 0 auto; 
}

.notice-section h2 {
    font-size: 14px;
    margin: 20px 0; 
    position: relative; 
    color: #3f426f;
}

/* h2 위와 아래에 구분선 추가 */
.notice-section h2:before,
.notice-section h2:after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #3f426f;
    position: absolute;
    left: 0;
}

.notice-section h2:before {
    top: -10px; /* h2 위쪽에 구분선 */
}

.notice-section h2:after {
    bottom: -10px; /* h2 아래쪽에 구분선 */
}

.notice-list {
    list-style-type: none;
    padding: 0;
}

.notice-item {
    border-bottom: 1px solid #d7d7d7;
    padding: 4px 0;
    color: #595959;
    font-size: 12px;
}

.notice-item a {
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.notice-item a:after {
    content: ">";
    font-size: 1rem;
    color: #bababa;
}

/* 홍보영상 섹션 스타일 */
.promo-section {
    margin-top: 20px;
    text-align: center;
}

.promo-image-container {
    position: relative;
    max-width: 90%; 
    margin: 0 auto;
}

.promo-image {
    width: 100%;
    height: auto;
    border-radius: 15px; 
}