.header {
    background-color: #6a6fb3; 
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.header-logo {
    height: 30.24px;
}
.nav {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
}

.nav-item {
    font-size: 25px;
    color: #6a6fb3;
    text-align: center;
}

.nav-item img {
    width: 25px; 
    height: 25px;
}

/* Slider.scss */
.swiper {
    width: 100%;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    width: 100%;
    height: 140px;
    object-fit: cover;
}
.swiper-pagination-bullet {
    background-color: #d4c4db;
    width: 5px;
    height: 5px;
    opacity: 1;
}

.swiper-pagination-bullet-active {
    background-color: #fff;
}
