html, body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;  /* 기본 폰트 설정 */
}
  
.container {
    width: 100%;
    max-width: 375px;
    height: 100%;
    max-height: 720px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;  /* 필요에 따라 배경색을 설정 */
}
#root {
    display: flex;
    flex-direction: column;
    height: 100%;
}

header {
    flex-shrink: 0;  // 헤더가 화면 상단에 고정
}

main {
    flex-grow: 1;  // 메인 컨텐츠가 중간에 위치하며 스크롤 가능
    overflow-y: auto;
}

nav {
    flex-shrink: 0;  // 네비게이션 바가 화면 하단에 고정
}
