@font-face {
    font-family: 'HSSanTokki20-Regular';
    font-weight: 100;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face {
    font-family: 'HSSanTokki20-Regular';
    font-weight: 400;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-display: swap;
} 
@font-face {
    font-family: 'HSSanTokki20-Regular';
    font-weight: 700;
    font-style: normal;
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2405@1.0/HSSanTokki20-Regular.woff2') format('woff2');
    font-display: swap;
} 
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 300;
    font-style: normal;
    src: url("../../NanumSquareNeo/nanumSquareNeo-Light.woff2") format("woff2"),
         url("../../NanumSquareNeo/nanumSquareNeo-Light.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 400;
    font-style: normal;
    src: url("../../NanumSquareNeo/nanumSquareNeo-Regular.woff2") format("woff2"),
         url("../../NanumSquareNeo/nanumSquareNeo-Regular.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 700;
    font-style: normal;
    src: url("../../NanumSquareNeo/nanumSquareNeo-Bold.woff2") format("woff2"),
         url("../../NanumSquareNeo/nanumSquareNeo-Bold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 800;
    font-style: normal;
    src: url("../../NanumSquareNeo/nanumSquareNeo-ExtraBold.woff2") format("woff2"),
         url("../../NanumSquareNeo/nanumSquareNeo-ExtraBold.woff") format("woff");
    font-display: swap;
}
@font-face {
    font-family: "nanumSquareNeo";
    font-weight: 900;
    font-style: normal;
    src: url("../../NanumSquareNeo/nanumSquareNeo-Black.woff2") format("woff2"),
         url("../../NanumSquareNeo/nanumSquareNeo-Black.woff") format("woff");
    font-display: swap;
}