@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }
  
  body {
    font-family: 'NanumSquareNeo-Variable';
    padding: 0;
    margin: 0;
    background-color: #92caff;
  }
  
  button {
    cursor: pointer;
  }
  
  #wrap {
    margin: 0 auto;
    width: 50%;
    min-width: 300px;
    max-width: 600px;
    padding: 40px;
  
    #header {
      h1 {
        text-align: center;
        color: #fafafafe;
        font-size: 40px;
      }
  
      .add {
        display: flex;
        position: relative;
  
        input {
          width: 100%;
          padding: 20px 30px; /*앞에가 가로 뒤에가 위아래*/
          outline: none;
          border: 0;
          box-sizing: border-box;
          font-family: 'NanumSquareNeo-Variable';
          font-size: 16px;
  
          &::placeholder {
            font-size: 15px;
            font-family: 'NanumSquareNeo-Variable';
          }
        }
  
        button {
          position: absolute;
          right: 15px;
          top: 50%;
          transform: translateY(-50%);
          background-color: transparent;
          border: 0;
  
          img {
            width: 22px;
            height: 22px;
          }
        }
      }
    }
  
    #main {
      margin-top: 30px;
      padding: 20px;
      background-color: #fff;
  
      .list {
        display: flex;
        justify-content: space-between;
        min-height: 50px;
        height: 100%;
        border-bottom: 2px solid #92caff;
  
        .box {
          display: flex;
          align-items: center;
          font-size: 15px;
          width: 80%;
          color: #3f6181;
  
          input[type='checkbox'] {
            display: none;
  
            + label {
              display: inline-block;
              width: 20px;
              height: 20px;
              border: 2px solid #92caff;
              border-radius: 5px;
              margin-right: 10px;
              position: relative;
            }
  
            &:checked + label::after {
              content: 'O';
              position: absolute;
              width: inherit;
              height: inherit;
              top: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              color: #fff;
              background-color: #92caff;
            }
          }
        }
  
        button {
          background-color: transparent;
          border: 0;
          padding-top: 5px;
          padding-right: 5px;
  
          img {
            width: 15px;
            height: 15px;
          }
        }
      }
    }
  }
  